// rasi (rofi advanced style information)

// Global properties
* {
}

window {
    margin:     20 100;
    location:   center;
    width:      50%;
    padding:    4px;
    children:   [ horibox ];
}

horibox {
    orientation: horizontal;
    children:   [ prompt, entry, listview ];
}

listview {
    layout:     horizontal;
    spacing:    5px;
    lines:      10;
}


entry {
    expand: false;
    width: 10em;
}


element {
    padding: 0px 2px;
}

element selected {
    background-color:   #0000FF;
}
